<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta name="_csrf" th:content="${_csrf.token}"/>
<title>メインページ(仮)</title>
<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
      rel="stylesheet">
<link th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap}" rel="stylesheet">
<link th:href="@{https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Amatic+SC:700|Anton|Bangers|Caveat|Cherry+Swash:700|Corben:700|Creepster|Economica:700|Homemade+Apple|IM+Fell+DW+Pica+SC|Kaushan+Script|Londrina+Shadow|Montserrat+Subrayada|Oswald:700|Permanent+Marker|Quicksand|Roboto+Condensed:700|Teko|Vollkorn&display=swap}" rel="stylesheet">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
<link rel="stylesheet" th:href="@{/css/reset.css}" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}" />
<link rel="stylesheet" th:href="@{/css/info.css}" />
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
<script src="/js/info.js"  th:src="@{/js/info.js}" defer></script>
</head>
<body>
	<div id="maskDispDiv"></div>
	<header id="header">
		<div id="headerDiv">
			<font id="toptxt" class="top">TOP</font><font class="top" id="vertical_line">|<i class="material-icons" id="home">home</i>　　Main Information</font><!-- <font id="titletxt">出退勤状況</font-->
			<input type="submit" class="logout btn btn-outline-secondary" id="logout-btn" value="Logout"/>
		</div>
	</header>
		<div id=""></div>
		<form id= "mainForm" th:action="@{/logoutbutton}" method="post">
		<div id="main">Mon　　　|　　　Tue　　　|　　　Wed　　　|　　　Thu　　 |　　　Fri　　　|　　　Sat</div>
		<div id="ButtonDiv" th:if="${roleId != '1'}")>
			<p id="attendtitle">出退勤登録</p>
			<hr id="horizon"></hr>
			<p>
				<input type="button" class="btnList attend btn btn-outline-primary rounded-pill" id="attendance" value="出勤" th:disabled = "${wStartFlg == true || roleId == '1'}"/>
				<input type="button" class="btnList attend btn btn-outline-danger rounded-pill" id="leave" value="退勤" th:disabled = "${wStartFlg == false || wEndFlg == true || roleId == '1'}"/>
			</p>
			<!-- <p>
				<input type="button" id="request" value="申請(仮)" class="attend btn btn-success rounded-pill"/>
			</p> -->
		</div>
</body>
</html>