<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>新規登録</title>
<link rel="stylesheet" th:href="@{/static/css/signup.css}" />
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>

<form  id="userInfoForm" th:action="@{/signup/usersearch}" th:object="${userInfoForm}" method="post">
  <p>検索したいキーワードを入力してください。</p>
  <input type="search" name="userName" th:value="*{userName}" placeholder="キーワードを入力">
  <input type="submit" name="submit" value="検索">
</form>
<table>
<tr th:each="mUser : ${mUserList}" >
	<td th:text="${mUser.userName}"></td>
	<td th:text="${mUser.loginId}"></td>
</tr>
</table>
	<h1>新規登録</h1>
		<table align="center">
			<tr>
				<td align="right">
					<a class="form-control-sm bg-primary" id="empchange" data-toggle="modal" data-target="#modal-emp-select1">新規登録</a>
					<div th:replace="modal::userRegist"></div>
				</td>
				<td align="right">
					<a class="form-control-sm bg-primary" id="empchange" data-toggle="modal" data-target="#modal-emp-select2">編集</a>
					<div th:replace="modal::userEdit"></div>
				</td>
				<td align="right">
					<a class="form-control-sm bg-primary" id="empchange" data-toggle="modal" data-target="#modal-emp-select3">削除</a>
					<div th:replace="modal::userDelete"></div>
				</td>
			</tr>
		</table>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>