<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">


    <!-- ログの出力先と出力フォーマットを指定する -->
    <Appenders>
        <Console name="console-appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}]&#x9;%-5p&#x9;%C&#x9;%M&#x9;line:%L&#x9;%m%n"/>
        </Console>

       <RollingFile name="TimeCardSystem" append="false" fileName="${sys:user.home}\${app.name}\logs\${app.name}.log"
                 filePattern="${sys:user.home}\${app.name}\logs\$${date:yyyy-MM}/${app.name}-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}]&#x9;%-5p&#x9;%C&#x9;%M&#x9;line:%L&#x9;%m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <!-- パッケージごとにAppenderとログレベルを組み合わせる -->
    <Loggers>
        <Logger name="__TimeCardCustomLogger__" level="trace">
            <AppenderRef ref="console-appender"/>
            <AppenderRef ref="file-appender" />
        </Logger>

        <Root level="debug">
            <AppenderRef ref="console-appender"/>
        </Root>
    </Loggers>
</Configuration>